@import url("//fonts.googleapis.com/css?family=Oleo+Script|Cabin:400,700");


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oleo Script', cursive;
}

legend {
  font-family: 'Oleo Script', cursive;
}

.navbar {
  background-color: darkseagreen;
  border-color: darkseagreen;
}

.navbar-dark .navbar-brand {
  font-family: 'Oleo Script', cursive;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svgxml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

.card-primary {
  border-color: #fff;
  margin-bottom: 0.5rem;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.review-header {
  background-color: mintcream;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
}

.badge-default, .btn-primary {
  background-color: darkseagreen;
  border-color: darkseagreen;
}

h4 a, h4 a:hover {
  color: #5a5a5a;
}

h3 {
  font-size: 200%;
  color: #5a5a5a;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

h1 {
  font-size: 300%;
}

h1 small {
  color: #aaa;
}

.address {
  margin-bottom: 0.5rem;
}

.facilities span.badge {
  margin-right: 2px;
}

p {
  margin-bottom: 0.65rem;
}

a {
  color: #5a5a5a
}

a:hover {
  color:#5a5a5a
}

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #5a5a5a;
  background-color: mintcream;
}
